.Nav {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Nav-logo {
  animation: Nav-logo-spin infinite 20s linear;
  height: 80px;
}

.Nav-logout {
  color: #fff;
  float: right;
  text-decoration: none;
}

@keyframes Nav-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
